<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-2">
          <button class="btn btn-success" [disabled]="!studentForm.valid" type="submit">{{ editMode ? 'Update' : 'Save'}}</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
      <hr>
      <div class="mb-3">
        <label for="id" class="form-label">Student ID</label>
        <input type="text" id="id" formControlName="id" class="form-control">
      </div>
      <div for="name" class="mb-3">
        <label class="form-label">Student Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
      <div for="birthday" class="mb-3">
        <label class="form-label">Birthday</label>
        <input type="text" id="birthday" formControlName="birthday" class="form-control">
      </div>
    </form>
  </div>
</div>
