
<div>
  <form (ngSubmit)="onAddStudent(f)" #f="ngForm">
    <div class="row">
      <div  class="col-sm-2">
        <button class="btn btn-success" [disabled]="!f.valid" type="submit" >Save</button>
      </div>
      <div  class="col-sm-2">
        <button class="btn btn-danger" >Delete</button>
      </div>
    </div>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Student ID</label>
      <input ngModel required name="studentID" type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Student Name</label>
      <input ngModel required name="studentName" type="" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label  for="exampleInputPassword1" class="form-label">Birthday</label>
      <input ngModel required name="studentBirthday" class="form-control" id="exampleInputPassword1">
    </div>
  </form>
</div>
